---
import Faq from "../components/Faq.astro";
import "../styles/styles.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.typekit.net/qqk5mpc.css" />
    <meta name="generator" content={Astro.generator} />

    <title>FAQ</title>
  </head>
</html>

<Faq />
