---
import { Debug } from "astro/components";
import Card from "../components/Card.astro";
import Largebtn from "../components/Largebtn.astro";
import Shelf from "../components/Shelf.astro";
import Smallbtn from "../components/Smallbtn.astro";
import Topnav from "../components/Topnav.astro";
import Footer from "../components/Footer.astro";
import "../styles/styles.css";
import Buttonshelf from "../components/Buttonshelf.astro";
import Fpshelf from "../components/Fpshelf.astro";
import Fpcardshelf from "../components/Fpcardshelf.astro";
import Sponsorshelf from "../components/Sponsorshelf.astro";

const url = "https://aruswkvjfqmwbmdbzrgy.supabase.co/rest/v1/testtabel";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFydXN3a3ZqZnFtd2JtZGJ6cmd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3Nzc0NTgsImV4cCI6MTk5NDM1MzQ1OH0.8v-p9C_alBTmibzL_qtGCNqtAkcNRGL5TGvI2UFHXH0",
  },
};

const respons = await fetch(url, options);
const data = await respons.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.typekit.net/qqk5mpc.css" />
    <meta name="generator" content={Astro.generator} />
    <title>forside</title>
  </head>
  <main>
    <body>
      <Topnav />

      <div class="parent">
        <img class="image1" src="../public/images/landingpage.png" alt="baggrund" />
        <img class="image3" src="../public/images/landingpagetext.svg" alt="baggrund" />
        <img class="image2" src="../public/images/landingpagefg.png" alt="baggrund" />
      </div>

      <section>
        <br /><br /><br />
        <Fpshelf>
          <Largebtn />
          <Largebtn />
          <Largebtn />
          <Largebtn />
        </Fpshelf>

        <Fpcardshelf />

        <Sponsorshelf>
          <div>
            <img class="sponsor" src="../images/sponsor/dnp_png.png" alt="dnp" />
            <img class="sponsor" src="../images/sponsor/torm_png.webp" alt="torm" />
            <img class="sponsor" src="../images/sponsor/nec_png.png" alt="nec" />
            <img class="sponsor" src="../images/sponsor/toyota_png.png" alt="toyota" />
          </div>
        </Sponsorshelf>

        <!-- <div class="sponsorgrid_container">
          <div class="sponsorgrid">
            <img src="../images/sponsor/dnp_png.png" alt="dnp" />
            <img src="../images/sponsor/torm_png.webp" alt="torm" />
            <img src="../images/sponsor/nec_png.png" alt="nec" />
            <img src="../images/sponsor/toyota_png.png" alt="toyota" />
          </div>
        </div> -->

        <Footer />
      </section>
    </body>
  </main>

  <style>
    * {
      box-sizing: border-box;
    }

    body {
      background-color: var(--backgroundcolor);
    }
    .fpknapper {
      gap: 100px;
    }
    img {
      border: 0;
      max-width: 100%;
      vertical-align: middle;
      display: inline-block;
    }

    .parent {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      position: relative;
    }
    .image1 {
      grid-column: 1/1;
      grid-row: 1/1;
      z-index: 1;
      width: 100%;
      object-fit: cover;
    }
    .image2 {
      grid-column: 1/1;
      grid-row: 1/1;
      z-index: 3;
      width: 100%;
      object-fit: cover;
    }
    @media (min-width: 945px) {
      .image3 {
        position: fixed;
        margin-top: 4rem;
        z-index: 2;
        height: 450px;
        grid-column: 1/1;
        grid-row: 1/1;
        padding-top: 4rem;
      }
    }
    @media (max-width: 944px) {
      .image3 {
        height: 300px;
        z-index: 2;
        grid-column: 1/1;
        grid-row: 1/1;
        padding-top: 20px;
      }
    }
    section {
      position: relative;
      z-index: 3;
      background-color: var(--backgroundcolor);
    }

    .sponsor {
      max-width: 120px;
    }
  </style>


</html>
