---
import { Debug } from "astro/components";
import Card from "../components/Card.astro";
import Largebtn from "../components/Largebtn.astro";
import Shelf from "../components/Shelf.astro";
import Smallbtn from "../components/Smallbtn.astro";
import Topnav from "../components/Topnav.astro";
import Footer from "../components/Footer.astro";
import "../styles/styles.css";

const url = "https://aruswkvjfqmwbmdbzrgy.supabase.co/rest/v1/testtabel";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFydXN3a3ZqZnFtd2JtZGJ6cmd5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3Nzc0NTgsImV4cCI6MTk5NDM1MzQ1OH0.8v-p9C_alBTmibzL_qtGCNqtAkcNRGL5TGvI2UFHXH0",
  },
};

const respons = await fetch(url, options);
const data = await respons.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.typekit.net/qqk5mpc.css" />
    <meta name="generator" content={Astro.generator} />
    <title>forside</title>
  </head>

  <body>
    <Topnav />
    <ul>
      <a href="faq"><li>FAQ</li></a>

      <a href="about"><li>About</li></a>
      <a href="program"><li>Program</li></a>
      <a href="singleview"><li>singleview</li></a>
    </ul>

    <div class="parent">
      <img class="image1" src="../public/images/landingpagebg.png" alt="baggrund" />
      <img class="image3" src="../public/images/landingpagetext.svg" alt="baggrund" />
      <img class="image2" src="../public/images/landingpagefg.png" alt="baggrund" />
    </div>

    <Footer />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
  }
  main {
    display: flex;
    justify-content: center;
  }
  .grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }

  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .image1 {
    grid-column: 1/1;
    grid-row: 1/1;
    z-index: 1;
    width: 100%;
    object-fit: cover;
  }
  .image2 {
    grid-column: 1/1;
    grid-row: 1/1;
    z-index: 3;
    width: 100%;
    object-fit: cover;
  }
  .image3 {
    position: sticky;
    z-index: 2;
    top: 120px;
    height: 394px;
    grid-column: 1/1;
    grid-row: 1/1;
    overflow: hidden;
  }
</style>
