---
---

<details class="border">
  <summary
    >Are there toilets available at the festival?
    <div class="plus">
      <span class="bar"></span>
      <span class="bar2"></span>
    </div>
  </summary>
  <p>Yes there is unisex toilets.</p>
</details>

<style>
  .border {
    border-block: var(--redborder);
  }
  summary {
    display: flex;
    justify-content: space-between;
    margin-block: 2rem;
    margin-inline: 2rem;
    font-family: roc-grotesk, sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
  }

  p {
    margin: -0.5rem 0rem 2rem 2rem;
  }

  .bar {
    display: block;
    width: 2rem;
    height: 0.2rem;
    margin-top: 0.5rem;
    background-color: black;
  }

  .bar2 {
    display: block;
    width: 0.2rem;
    height: 2rem;
    margin-left: 0.86rem;
    margin-top: -1.1rem;
    background-color: black;
  }

  @media (min-width: 700px) {
    summary {
      margin-inline: 16rem;
    }
    p {
      margin-inline: 16rem;
    }
  }

  .hide {
    display: none;
  }
</style>

<script>
  const bar2 = document.querySelector(".bar2");
  const summary = document.querySelector("summary");

  summary.addEventListener("click", () => {
    bar2.classList.toggle("hide");
  });
</script>
