---
---

<footer>
  <p class="logo_footer">Logo</p>
  <div class="grid_1-1">
    <h3>About</h3>
    <li><a href="pages/about.astro">About Sakura</a></li>
    <li><a href="pages/about.astro">About the festival</a></li>
    <li><a href="pages/faq.astro">FAQ</a></li>
  </div>

  <div class="grid_1-1">
    <h3>Program</h3>
    <li><a href="pages/program.astro">Saturday</a></li>
    <li><a href="pages/program.astro">Sunday</a></li>
    <li><a href="pages/program.astro">Food and drinks</a></li>
    <li><a href="pages/program.astro">Stalls</a></li>
  </div>
</footer>

<style>
  footer {
    background-color: var(--primary);
  }

  .logo_footer {
    margin: 1.2rem 1.4rem 0rem 1.3rem;
  }

  li {
    list-style: none;
  }
  a {
    color: black;
    text-decoration: none;
  }
</style>
