---
---

<div class="slct">
  <slot />
</div>

<style>
  .slct {
    margin-left: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--mediumgap);
    justify-content: center;
    margin-bottom: 44px;
    margin-top: 44px;
  }
</style>
