---
import "../styles/styles.css";
---

<a href="">
  <button>Read more</button>
</a>

<style>
  button {
    background-color: var(--primary);
    color: var(--backgroundcolor);
    width: 12rem;
    height: 4.5rem;
    border: var(--redborder);
    font-family: roc-grotesk, sans-serif;
    transition: 250ms ease-in-out;
  }
  button:hover {
    background-color: var(--secondary);
  }
</style>
