---
const { title } = Astro.props;
---

<section>
  <header>
    <h2>{title}</h2>
  </header>
  <ul class="grid-container">
    <slot />
  </ul>
</section>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  header > a {
    font-weight: 500;
  }

  h2 {
    text-decoration: none;
    margin-left: 2rem;
  }

  a:hover {
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(311px, 1fr));
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
</style>
