---
const { title } = Astro.props;
---

<a href="">
  <button class="smallbutton">placeholder</button>
</a>

<style>
  .smallbutton {
    height: 35px;
    width: auto;
    border-radius: 0%;
    border: solid 1px var(--secondary);
    background-color: var(--backgroundcolor);
    font-family: ;
  }
</style>
