---
const { title, link } = Astro.props;
---

<button {link} class="smallbutton">{title}</button>

<style>
  .smallbutton {
    background-color: var(--backgroundcolor);
    height: 35px;
    width: auto;
    padding: 0px 15px;
    border-radius: 0%;
    border: var(--redborder);
    font-family: roc-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
  }

  .smallbutton:hover {
    background-color: var(--primary);
    color: var(--backgroundcolor);
    transition: 250ms ease-in-out;
  }
  a {
    cursor: pointer;
  }
</style>
