---
const { title } = Astro.props;
---

<button class="smallbutton"><a href="#0">placeholder</a></button>

<style>
  .smallbutton {
    height: 35px;
    width: auto;
    border-radius: 0%;
    border-color: var(--secondary);
    background-color: var(--backgroundcolor);
    font-family: ;
  }

  .smallbutton;
</style>
