---
import Buttonshelf from "./Buttonshelf.astro";
import Smallbtn from "./Smallbtn.astro";
const { title } = Astro.props;
---

<section>
  <div class="grid-container">
    <img class="grid_item" src="../images/sponsor/dnp_png.webp" alt="dnp" />
    <img class="grid_item" src="../images/sponsor/torm_png.webp" alt="torm" />
    <img class="grid_item" src="../images/sponsor/nec_png.webp" alt="nec" />
    <img class="grid_item" src="../images/sponsor/toyota_png.webp" alt="toyota" />
    <img class="grid_item" src="../images/sponsor/andersen_png.webp" alt="andersen" />
    <img class="grid_item" src="../images/sponsor/canon_png.webp" alt="canon" />
    <img class="grid_item" src="../images/sponsor/caservice_png.webp" alt="caservice" />
    <img class="grid_item" src="../images/sponsor/fujifilm_png.webp" alt="fujifilm" />
    <img class="grid_item" src="../images/sponsor/kyocera_png.webp" alt="kyocera" />
    <img class="grid_item" src="../images/sponsor/milestone_png.webp" alt="milestone" />
    <img class="grid_item" src="../images/sponsor/sticksandsushi_png.webp" alt="sns" />
    <img class="grid_item" src="../images/sponsor/tg_nordic.webp" alt="tgnordic" />
    <img class="grid_item" src="../images/sponsor/zpd_png.webp" alt="zpd" />
    <img class="grid_item" src="../images/sponsor/yashima_png.webp" alt="yashima" />
    <img class="grid_item" src="../images/sponsor/kk_png.webp" alt="kk" />
    <img class="grid_item" src="../images/sponsor/asiahouse_png.webp" alt="asiahouse" />
    <img class="grid_item" src="../images/sponsor/embassy_png.webp" alt="embassy" />
    <img class="grid_item" src="../images/sponsor/jdnet_png.webp" alt="jdnet" />
  </div>
</section>

<style>
  section {
    margin-top: 2rem;
  }

  h2 {
    text-decoration: none;
    margin-left: 1rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
  }
  @media (min-width: 700px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
      gap: 30px;
      margin-left: 75px;
      margin-right: 75px;
      padding-bottom: 20px;
    }
  }
</style>
