---
import "../styles/styles.css";
---

<header>
  <div class="logo">
    <a href="/"> <img src="../public/images/logo.svg" alt="Sakura logo" /></a>
  </div>
  <nav class="nav-bar">
    <div class="search"><img src="../public/images/search.svg" alt="" /></div>
    <div class="burgermenu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
      <ul class="nav-menu">
        <li class="nav-item">
          <a href="about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="program" class="nav-link">Program</a>
        </li>
        <li class="nav-item">
          <a href="faq" class="nav-link">FAQ</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<script src="../pages/scripts/script.js"></script>

<style>
  header {
    position: sticky;
    top: 0;

    display: flex;
    width: 100%;
    padding-block: 1.5rem;
    background-color: var(--backgroundcolor);
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: var(--redborder);
    transition: 0.2s ease-in-out;
  }
  header.active {
    background-color: var(--primary);
    z-index: 100;
    width: 100vw;
    height: 100vh;
    align-items: flex-start;
    transition: 0.2s ease-in-out;
  }
  .bar {
    display: block;
    width: 2rem;
    height: 2px;
    margin: 0.5rem auto;
    background-color: var(--secondary);
    transition: 250ms ease;
  }
  ul a {
    position: relative;
  }
  ul a:hover {
    color: var(--secondary);
    transition: 0.2s ease-in-out;
    transform-origin: left;
  }
  ul a:after {
    content: "";
    position: absolute;
    background-color: var(--secondary);
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s ease-in;
  }
  ul a:hover:after {
    transform: scaleX(1);

    transform-origin: left;
  }
  nav {
    display: flex;
    gap: var(--mediumgap);
  }
  .burgermenu.active .nav-menu {
    align-self: center;
  }
  .nav-menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 88px;
    animation-name: foldop;
    transform-origin: bottom;
    animation-duration: 3s;
    transition: 3s ease-in-out;
  }
  @keyframes foldud {
    0% {
      height: 16%;
    }
    100% {
      height: 100%;
    }
  }
  @keyframes foldop {
    0% {
      height: 100%;
    }
    100% {
      height: 16%;
    }
  }
  @keyframes visdig {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .nav-menu.active {
    display: flex;
    animation-name: visdig;
    animation-duration: 0.1s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    animation-name: foldud;
    animation-duration: 0.2s;
    transform-origin: top;
    z-index: 0;
  }
  li a {
    font-family: itc-benguiat, serif;
    color: var(--backgroundcolor);
    margin-bottom: 2.5rem;
  }
  .search,
  .logo,
  .burgermenu {
    display: block;
    cursor: pointer;
  }
  .search {
    width: 32px;
    height: 32px;
  }
  .burgermenu {
    margin-right: 1rem;
  }
  .logo {
    margin-left: 1rem;
    width: 12rem;
  }
  .burgermenu.active .bar:nth-child(2) {
    opacity: 0;
  }
  .burgermenu.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .burgermenu.active .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  li {
    list-style: none;
  }
  .nav-link {
    display: none;
    text-decoration: none;
    font-size: 3.25rem;
  }
  .burgermenu.active .nav-link {
    display: block;
  }
  @media (min-width: 700px) {
    .search {
      width: 35px;
      height: 35px;
    }
  }
</style>
